{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="row" id="main">
<div class="col-2" id="statistics">
    <h4>Today Stats:</h4>
        Visits<span class="pull-right strong">- 15%</span>
         <div class="progress">
          <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="15"aria-valuemin="0" aria-valuemax="100" style="width:15%">15%</div>
        </div>

        20 New Users<span class="pull-right strong">+ 30%</span>
         <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="30"aria-valuemin="0" aria-valuemax="100" style="width:30%">30%</div>
        </div>

        359 Downloads<span class="pull-right strong">+ 8%</span>
         <div class="progress">
          <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="8"aria-valuemin="0" aria-valuemax="100" style="width:8%">8%</div>
        </div>
        </br>
        <h4>This Month Stats:</h4>
        Visits<span class="pull-right strong">+ 45%</span>
         <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="45"aria-valuemin="0" aria-valuemax="100" style="width:45%">45%</div>
        </div>

        395 New Users<span class="pull-right strong">+ 57%</span>
         <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="57"aria-valuemin="0" aria-valuemax="100" style="width:57%">57%</div>
        </div>

        12.593 Downloads<span class="pull-right strong">+ 25%</span>
         <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="25"aria-valuemin="0" aria-valuemax="100" style="width:25%">25%</div>
        </div>
        Visits<span class="pull-right strong">- 15%</span>
         <div class="progress">
          <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="15"aria-valuemin="0" aria-valuemax="100" style="width:15%">15%</div>
        </div>

        20 New Users<span class="pull-right strong">+ 30%</span>
         <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="30"aria-valuemin="0" aria-valuemax="100" style="width:30%">30%</div>
        </div>

        359 Downloads<span class="pull-right strong">+ 8%</span>
         <div class="progress">
          <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="8"aria-valuemin="0" aria-valuemax="100" style="width:8%">8%</div>
        </div>

        Visits<span class="pull-right strong">+ 45%</span>
         <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="45"aria-valuemin="0" aria-valuemax="100" style="width:45%">45%</div>
        </div>

        395 New Users<span class="pull-right strong">+ 57%</span>
         <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="57"aria-valuemin="0" aria-valuemax="100" style="width:57%">57%</div>
        </div>

        12.593 Downloads<span class="pull-right strong">+ 25%</span>
         <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="25"aria-valuemin="0" aria-valuemax="100" style="width:25%">25%</div>
        </div>
</div>
<div class="col-10">
<!-- <div class="container"> -->
            <div class="row">
                <div class="col-12">
                  <div class="card">
                    <div class="card-header">Activity per hour</div>
                    <div id="chartdiv"></div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <div class="card">
                    <div class="card-header">Messages per postal code</div>
                    <div id="map"></div>
                  </div>
                </div>
              </div>

            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">Hourly comparison with baseline</div>
                  <div id="baseline_compare"></div>
                </div>
              </div>
            </div>

              <div class="row">
                <div class="col-6">

                  <div class="card">
                    <div class="card-header">Category count per city</div>
                    <div id="category_map"></div>
                  </div>

                </div>
                <div class="col-6">
                  <div class="card">
                    <div class="card-header">Activity per hour</div>
                    <figure class="highcharts-figure">
                        <div id="container"></div>
                        <p class="highcharts-description">
                            Number of SMS per city. Click on a bar for more details.
                        </p>
                    </figure>
                  </div>
                </div>
              </div>

  <!-- </div>  div of container-->
  </div>
</div>

<script src="{% static "count_per_hour.js" %}"></script>
<script src="{% static "count_baseline_compare.js" %}"></script>
{% endblock %}
